APP_SECRET=94bad46...c66e25d5c2b # Generate your own secret with `openssl rand -hex 32`
RCLONE_CONFIG_PATH=/home/...config/rclone # Path to your rclone config file, if you plan to use rclone for storage. Optional.
