APP_KEY=base64:your_32_character_base64_string # Generate your own key with 'echo "base64:$(openssl rand -base64 32 2>/dev/null)"'
SPEEDTEST_SCHEDULE=0 0 * * * # Default: Run speedtest every day at midnight. Adjust as needed. Tool: https://crontab.guru/
